@import 'variables';
@import 'breakpoints';
@import 'mixins';

* {
  box-sizing: border-box;
}

#root {
  overflow: hidden;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: $typography-font-family, Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

strong {
  font-weight: $typography-accent-font-weight;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  overflow-wrap: break-word;
  color: $color-black-text;
  font-size: 14px;
  font-weight: $typography-text-font-weight;
}

span,
th,
td {
  font-size: $typography-text-font-size !important;
}

table {
  svg {
    width: calc(2vmin + 1rem) !important;
    height: calc(2vmin + 1rem) !important;
  }
}

a {
  font-weight: $typography-text-font-weight;
  color: $color-white;
  fill: $color-white;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  color: $color-black-text;
  font-size: $typography-text-font-size;
  font-weight: $typography-text-font-weight;
  padding-bottom: vmin(5px);
  margin-left: vmin(30px);

  p {
    display: inline;
  }

  &::before {
    content: '';
    background-color: $color-blue;
    display: inline-block;
    margin: vmin(2px) vmin(15px) vmin(2px) vmin(-30px);
    width: vmin(14px);
    height: vmin(14px);
    border-radius: 50%;
  }
}

input,
select,
textarea {
  font-family: $typography-font-family, Sans-serif;
  font-size: $typography-text-font-size;
  font-weight: $typography-text-font-weight;
}

button {
  font-weight: $typography-primary-font-weight;
  font-family: $typography-font-family, Sans-serif;
  background-color: $color-blue;
  color: $color-white;
  border: vmin(2px) solid $color-blue;
  border-radius: vmin(15px);
  padding: vmin(12px) vmin(39px);
  margin: auto;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: white;
    color: $color-blue;

    a {
      color: $color-blue;
    }
  }
}

button > a {
  font-weight: 300 !important;
}

textarea {
  resize: vertical;
}

#root {
  height: 100%;
}
